[submodule "premake_modules"]
	path = premake_modules
	url = https://github.com/josh33901/premake-export-compile-commands
[submodule "external/SteamKit"]
	path = external/SteamKit
	url = https://github.com/SteamRE/SteamKit
[submodule "external/SteamStructs"]
	path = external/SteamStructs
	url = https://github.com/emily33901/SteamStructs
[submodule "external/OpenSteamworks"]
	path = external/OpenSteamworks
	url = https://github.com/emily33901/open-steamworks.git
